* {
    margin: 0;
    padding: 0;
}

li {
    color: darkorange;
}

html,body {
    width: 100%;
    height: 100%;
}

body {
    background:  url("images/head-bg.jpg");
    background-size: 100%;  /* 屏幕填充%100*/
}